#!/bin/bash

# Nom de l'environnement (peut être "dev" ou "prod")
export DIMAIL_ENV=ovhdev
export DIMAIL_ENVTYPE=dev
export DIMAIL_HOSTING=ovh


export AWS_ACCESS_KEY_ID="aws-access-key-id"
export AWS_SECRET_ACCESS_KEY="aws-secret-access-key"

export OVH_APPLICATION_KEY="ovh-application-key"
export OVH_APPLICATION_SECRET="ovh-application-secret"
export OVH_CONSUMER_KEY="ovh-consumer-key"

export OS_USERNAME="openstack-username"
export OS_PASSWORD="openstack-password"
export OS_PROJECT_NAME="openstack-projectname"
export OS_PROJECT_ID="openstack-projectid"

export OS_PROJECT_DOMAIN_NAME="Default"
export OS_USER_DOMAIN_NAME="Default"
export OS_AUTH_URL="https://auth.cloud.ovh.net/"
export OS_PROJECT_DOMAIN_ID="default"
export OS_REGION_NAME="GRA7,SBG7" # adapt according your needs
export OS_INTERFACE="public"
export OS_IDENTITY_API_VERSION="3"

# dimail-infra-config path, can override with any path if needed
export DIMAIL_CONFIG_PATH="$(dirname ${BASH_SOURCE[0]:-$0})"

# boilerplate, don't modify
source .env.common
